Repository dart-lang/labs, pull requests merged in 2024-11, with the labels that each got.

#181 Expose object metadata from `Bucket.list`
  .github/workflows/gcloud.yml
  pkgs/gcloud/CHANGELOG.md
  pkgs/gcloud/lib/src/storage_impl.dart
  pkgs/gcloud/lib/storage.dart
  pkgs/gcloud/pubspec.yaml
Labels: type-infra, package:gcloud

#183 Release gcloud version 0.8.16
  pkgs/gcloud/CHANGELOG.md
  pkgs/gcloud/pubspec.yaml
Labels: package:gcloud

#185 add direct links to the package issue trackers
  .github/ISSUE_TEMPLATE/appengine.md
  .github/ISSUE_TEMPLATE/gcloud.md
  .github/ISSUE_TEMPLATE/gcloud.yml
  .github/ISSUE_TEMPLATE/native_synchronization.md
  .github/labeler.yml
  .github/workflows/appengine.yml
  .github/workflows/gcloud.yml
  .github/workflows/native_synchronization.yml
  README.md
  pkgs/appengine/pubspec.yaml
  pkgs/gcloud/pubspec.yaml
  pkgs/native_synchronization/pubspec.yaml
Labels: type-infra, package:native_synchronization, package:gcloud, package:appengine

#187 Fix bug in `ObjectMetadata.replace` -- release gcloud
  pkgs/gcloud/CHANGELOG.md
  pkgs/gcloud/lib/src/storage_impl.dart
  pkgs/gcloud/pubspec.yaml
Labels: package:gcloud

#188 Fix updateMetadata in gcloud, release 0.8.18
  pkgs/gcloud/CHANGELOG.md
  pkgs/gcloud/lib/src/storage_impl.dart
  pkgs/gcloud/pubspec.yaml
  pkgs/gcloud/test/storage/e2e_test.dart
Labels: package:gcloud
