Repository dart-lang/labs, pull requests merged in 2025-03, with the labels that each got.

#193 Update publish.yaml
  .github/workflows/publish.yaml
Labels: type-infra

#195 Upgrade/remove old packages.
  pkgs/appengine/analysis_options.yaml
  pkgs/appengine/pubspec.yaml
Labels: package:appengine

#196 Skeleton for `package:io_file`
  .github/workflows/io_file.yml
  pkgs/io_file/.gitignore
  pkgs/io_file/CHANGELOG.md
  pkgs/io_file/LICENSE
  pkgs/io_file/README.md
  pkgs/io_file/analysis_options.yaml
  pkgs/io_file/example/io_file_example.dart
  pkgs/io_file/lib/io_file.dart
  pkgs/io_file/lib/src/io_file_base.dart
  pkgs/io_file/pubspec.yaml
  pkgs/io_file/test/io_file_test.dart
Labels: type-infra

#199 Posix rename
  pkgs/io_file/README.md
  pkgs/io_file/example/io_file_example.dart
  pkgs/io_file/lib/io_file.dart
  pkgs/io_file/lib/posix_file_system.dart
  pkgs/io_file/lib/src/file_system.dart
  pkgs/io_file/lib/src/posix_file_system.dart
  pkgs/io_file/pubspec.yaml
  pkgs/io_file/test/file_system_test.dart
  pkgs/io_file/test/rename_test.dart
Labels: package:io_file

#203 Implement `readAsBytes` for POSIX
  .github/workflows/io_file.yml
  pkgs/io_file/benchmarks/read_as_bytes.dart
  pkgs/io_file/lib/src/file_system.dart
  pkgs/io_file/lib/src/vm_posix_file_system.dart
  pkgs/io_file/pubspec.yaml
  pkgs/io_file/test/read_as_bytes_test.dart
  pkgs/io_file/test/test_utils.dart
Labels: type-infra, package:io_file

#205 Implement `readAsBytes` for Windows
  .github/workflows/io_file.yml
  pkgs/io_file/lib/src/internal_constants.dart
  pkgs/io_file/lib/src/vm_posix_file_system.dart
  pkgs/io_file/lib/src/vm_windows_file_system.dart
  pkgs/io_file/pubspec.yaml
  pkgs/io_file/test/fifo.dart
  pkgs/io_file/test/fifo_posix.dart
  pkgs/io_file/test/fifo_windows.dart
  pkgs/io_file/test/read_as_bytes_test.dart
Labels: type-infra, package:io_file
