Repository dart-lang/labs, pull requests merged in 2025-05, with the labels that each got.

#223 Implement `writeAsString`
  pkgs/io_file/README.md
  pkgs/io_file/lib/src/file_system.dart
  pkgs/io_file/lib/src/vm_posix_file_system.dart
  pkgs/io_file/lib/src/vm_windows_file_system.dart
  pkgs/io_file/test/write_as_string_test.dart
Labels: package:io_file

#222 Add temporary directory support for POSIX
  pkgs/io_file/README.md
  pkgs/io_file/lib/src/vm_windows_file_system.dart
  pkgs/io_file/test/create_temporary_directory_test.dart
  pkgs/io_file/test/temporary_directory_test.dart
Labels: package:io_file

#224 Implement recursive directory deletion for Windows
  pkgs/io_file/README.md
  pkgs/io_file/lib/src/file_system.dart
  pkgs/io_file/lib/src/vm_windows_file_system.dart
  pkgs/io_file/test/remove_directory_test.dart
  pkgs/io_file/test/remove_directory_tree_test.dart
Labels: package:io_file

#231 Use internal libc bindings
  .github/workflows/io_file.yml
  pkgs/io_file/README.md
  pkgs/io_file/constants-ffigen.yaml
  pkgs/io_file/constants.json
  pkgs/io_file/ffigen.yaml
  pkgs/io_file/hook/build.dart
  pkgs/io_file/lib/src/constant_bindings.g.dart
  pkgs/io_file/lib/src/constants.g.dart
  pkgs/io_file/lib/src/libc.dart
  pkgs/io_file/lib/src/libc_bindings.g.dart
  pkgs/io_file/lib/src/vm_posix_file_system.dart
  pkgs/io_file/mobile_test/pubspec.yaml
  pkgs/io_file/pubspec.yaml
  pkgs/io_file/src/constants.g.c
  pkgs/io_file/src/constants.g.h
  pkgs/io_file/src/libc_shim.c
  pkgs/io_file/src/libc_shim.h
  pkgs/io_file/test/create_directory_test.dart
  pkgs/io_file/test/create_temporary_directory_test.dart
  pkgs/io_file/test/errors.dart
  pkgs/io_file/test/read_as_bytes_test.dart
  pkgs/io_file/test/remove_directory_test.dart
  pkgs/io_file/test/remove_directory_tree_test.dart
  pkgs/io_file/test/same_test.dart
  pkgs/io_file/test/write_as_bytes_test.dart
  pkgs/io_file/test/write_as_string_test.dart
  pkgs/io_file/tool/build_constants.dart
Labels: type-infra, package:io_file

#227 Run tests on Windows ARM.
  .github/workflows/io_file.yml
Labels: type-infra

#233 initial commit of package:googleapis_firestore_v1
  .github/labeler.yml
  .github/workflows/googleapis_firestore_v1.yaml
  pkgs/googleapis_firestore_v1/.gitignore
  pkgs/googleapis_firestore_v1/LICENSE
  pkgs/googleapis_firestore_v1/README.md
  pkgs/googleapis_firestore_v1/analysis_options.yaml
  pkgs/googleapis_firestore_v1/pubspec.yaml
Labels: type-infra

#234 add a script to sync in firestore protos
  pkgs/googleapis_firestore_v1/protos/google/api/annotations.proto
  pkgs/googleapis_firestore_v1/protos/google/api/client.proto
  pkgs/googleapis_firestore_v1/protos/google/api/field_behavior.proto
  pkgs/googleapis_firestore_v1/protos/google/api/http.proto
  pkgs/googleapis_firestore_v1/protos/google/api/launch_stage.proto
  pkgs/googleapis_firestore_v1/protos/google/api/routing.proto
  pkgs/googleapis_firestore_v1/protos/google/firestore/v1/aggregation_result.proto
  pkgs/googleapis_firestore_v1/protos/google/firestore/v1/bloom_filter.proto
  pkgs/googleapis_firestore_v1/protos/google/firestore/v1/common.proto
  pkgs/googleapis_firestore_v1/protos/google/firestore/v1/document.proto
  pkgs/googleapis_firestore_v1/protos/google/firestore/v1/firestore.proto
  pkgs/googleapis_firestore_v1/protos/google/firestore/v1/query.proto
  pkgs/googleapis_firestore_v1/protos/google/firestore/v1/query_profile.proto
  pkgs/googleapis_firestore_v1/protos/google/firestore/v1/write.proto
  pkgs/googleapis_firestore_v1/protos/google/protobuf/any.proto
  pkgs/googleapis_firestore_v1/protos/google/protobuf/duration.proto
  pkgs/googleapis_firestore_v1/protos/google/protobuf/empty.proto
  pkgs/googleapis_firestore_v1/protos/google/protobuf/struct.proto
  pkgs/googleapis_firestore_v1/protos/google/protobuf/timestamp.proto
  pkgs/googleapis_firestore_v1/protos/google/protobuf/wrappers.proto
  pkgs/googleapis_firestore_v1/protos/google/rpc/status.proto
  pkgs/googleapis_firestore_v1/protos/google/type/latlng.proto
  pkgs/googleapis_firestore_v1/tool/update_protos.dart
Labels: package:googleapis_firestore_v1

#238 Update the io_file description to be (semi) useful.
  README.md
  pkgs/io_file/pubspec.yaml
Labels: package:io_file

#237 add a script to regenerate the gRPC library; commit generated gRPC libraries
  .github/workflows/googleapis_firestore_v1.yaml
  pkgs/googleapis_firestore_v1/.gitattributes
  pkgs/googleapis_firestore_v1/analysis_options.yaml
  pkgs/googleapis_firestore_v1/lib/google/api/annotations.pb.dart
  pkgs/googleapis_firestore_v1/lib/google/api/annotations.pbenum.dart
  pkgs/googleapis_firestore_v1/lib/google/api/client.pb.dart
  pkgs/googleapis_firestore_v1/lib/google/api/client.pbenum.dart
  pkgs/googleapis_firestore_v1/lib/google/api/field_behavior.pb.dart
  pkgs/googleapis_firestore_v1/lib/google/api/field_behavior.pbenum.dart
  pkgs/googleapis_firestore_v1/lib/google/api/http.pb.dart
  pkgs/googleapis_firestore_v1/lib/google/api/http.pbenum.dart
  pkgs/googleapis_firestore_v1/lib/google/api/launch_stage.pb.dart
  pkgs/googleapis_firestore_v1/lib/google/api/launch_stage.pbenum.dart
  pkgs/googleapis_firestore_v1/lib/google/api/routing.pb.dart
  pkgs/googleapis_firestore_v1/lib/google/api/routing.pbenum.dart
  pkgs/googleapis_firestore_v1/lib/google/firestore/v1/aggregation_result.pb.dart
  pkgs/googleapis_firestore_v1/lib/google/firestore/v1/aggregation_result.pbenum.dart
  pkgs/googleapis_firestore_v1/lib/google/firestore/v1/bloom_filter.pb.dart
  pkgs/googleapis_firestore_v1/lib/google/firestore/v1/bloom_filter.pbenum.dart
  pkgs/googleapis_firestore_v1/lib/google/firestore/v1/common.pb.dart
  pkgs/googleapis_firestore_v1/lib/google/firestore/v1/common.pbenum.dart
  pkgs/googleapis_firestore_v1/lib/google/firestore/v1/document.pb.dart
  pkgs/googleapis_firestore_v1/lib/google/firestore/v1/document.pbenum.dart
  pkgs/googleapis_firestore_v1/lib/google/firestore/v1/firestore.pb.dart
  pkgs/googleapis_firestore_v1/lib/google/firestore/v1/firestore.pbenum.dart
  pkgs/googleapis_firestore_v1/lib/google/firestore/v1/firestore.pbgrpc.dart
  pkgs/googleapis_firestore_v1/lib/google/firestore/v1/query.pb.dart
  pkgs/googleapis_firestore_v1/lib/google/firestore/v1/query.pbenum.dart
  pkgs/googleapis_firestore_v1/lib/google/firestore/v1/query_profile.pb.dart
  pkgs/googleapis_firestore_v1/lib/google/firestore/v1/query_profile.pbenum.dart
  pkgs/googleapis_firestore_v1/lib/google/firestore/v1/write.pb.dart
  pkgs/googleapis_firestore_v1/lib/google/firestore/v1/write.pbenum.dart
  pkgs/googleapis_firestore_v1/lib/google/protobuf/any.pb.dart
  pkgs/googleapis_firestore_v1/lib/google/protobuf/any.pbenum.dart
  pkgs/googleapis_firestore_v1/lib/google/protobuf/duration.pb.dart
  pkgs/googleapis_firestore_v1/lib/google/protobuf/duration.pbenum.dart
  pkgs/googleapis_firestore_v1/lib/google/protobuf/empty.pb.dart
  pkgs/googleapis_firestore_v1/lib/google/protobuf/empty.pbenum.dart
  pkgs/googleapis_firestore_v1/lib/google/protobuf/struct.pb.dart
  pkgs/googleapis_firestore_v1/lib/google/protobuf/struct.pbenum.dart
  pkgs/googleapis_firestore_v1/lib/google/protobuf/timestamp.pb.dart
  pkgs/googleapis_firestore_v1/lib/google/protobuf/timestamp.pbenum.dart
  pkgs/googleapis_firestore_v1/lib/google/protobuf/wrappers.pb.dart
  pkgs/googleapis_firestore_v1/lib/google/protobuf/wrappers.pbenum.dart
  pkgs/googleapis_firestore_v1/lib/google/rpc/status.pb.dart
  pkgs/googleapis_firestore_v1/lib/google/rpc/status.pbenum.dart
  pkgs/googleapis_firestore_v1/lib/google/type/latlng.pb.dart
  pkgs/googleapis_firestore_v1/lib/google/type/latlng.pbenum.dart
  pkgs/googleapis_firestore_v1/pubspec.yaml
  pkgs/googleapis_firestore_v1/tool/README.md
  pkgs/googleapis_firestore_v1/tool/generate.dart
  pkgs/googleapis_firestore_v1/tool/protoc-gen-dart
Labels: type-infra, package:googleapis_firestore_v1

#239 rev protoc_plugin; add a changelog
  pkgs/googleapis_firestore_v1/CHANGELOG.md
  pkgs/googleapis_firestore_v1/lib/google/api/annotations.pb.dart
  pkgs/googleapis_firestore_v1/lib/google/api/client.pb.dart
  pkgs/googleapis_firestore_v1/lib/google/api/client.pbenum.dart
  pkgs/googleapis_firestore_v1/lib/google/api/field_behavior.pb.dart
  pkgs/googleapis_firestore_v1/lib/google/api/field_behavior.pbenum.dart
  pkgs/googleapis_firestore_v1/lib/google/api/http.pb.dart
  pkgs/googleapis_firestore_v1/lib/google/api/launch_stage.pb.dart
  pkgs/googleapis_firestore_v1/lib/google/api/launch_stage.pbenum.dart
  pkgs/googleapis_firestore_v1/lib/google/api/routing.pb.dart
  pkgs/googleapis_firestore_v1/lib/google/firestore/v1/aggregation_result.pb.dart
  pkgs/googleapis_firestore_v1/lib/google/firestore/v1/bloom_filter.pb.dart
  pkgs/googleapis_firestore_v1/lib/google/firestore/v1/common.pb.dart
  pkgs/googleapis_firestore_v1/lib/google/firestore/v1/document.pb.dart
  pkgs/googleapis_firestore_v1/lib/google/firestore/v1/firestore.pb.dart
  pkgs/googleapis_firestore_v1/lib/google/firestore/v1/firestore.pbenum.dart
  pkgs/googleapis_firestore_v1/lib/google/firestore/v1/firestore.pbgrpc.dart
  pkgs/googleapis_firestore_v1/lib/google/firestore/v1/query.pb.dart
  pkgs/googleapis_firestore_v1/lib/google/firestore/v1/query.pbenum.dart
  pkgs/googleapis_firestore_v1/lib/google/firestore/v1/query_profile.pb.dart
  pkgs/googleapis_firestore_v1/lib/google/firestore/v1/write.pb.dart
  pkgs/googleapis_firestore_v1/lib/google/firestore/v1/write.pbenum.dart
  pkgs/googleapis_firestore_v1/lib/google/protobuf/any.pb.dart
  pkgs/googleapis_firestore_v1/lib/google/protobuf/duration.pb.dart
  pkgs/googleapis_firestore_v1/lib/google/protobuf/empty.pb.dart
  pkgs/googleapis_firestore_v1/lib/google/protobuf/struct.pb.dart
  pkgs/googleapis_firestore_v1/lib/google/protobuf/struct.pbenum.dart
  pkgs/googleapis_firestore_v1/lib/google/protobuf/timestamp.pb.dart
  pkgs/googleapis_firestore_v1/lib/google/protobuf/wrappers.pb.dart
  pkgs/googleapis_firestore_v1/lib/google/rpc/status.pb.dart
  pkgs/googleapis_firestore_v1/lib/google/type/latlng.pb.dart
  pkgs/googleapis_firestore_v1/pubspec.yaml
Labels: package:googleapis_firestore_v1
