Repository dart-lang/labs, pull requests merged in 2025-06, with the labels that each got.

#242 Implement `removeDirectoryTree` on POSIX
  pkgs/io_file/.gitattributes
  pkgs/io_file/constants.json
  pkgs/io_file/lib/src/constant_bindings.g.dart
  pkgs/io_file/lib/src/constants.g.dart
  pkgs/io_file/lib/src/libc_bindings.g.dart
  pkgs/io_file/lib/src/vm_posix_file_system.dart
  pkgs/io_file/src/constants.g.c
  pkgs/io_file/src/constants.g.h
  pkgs/io_file/src/libc_shim.c
  pkgs/io_file/src/libc_shim.h
  pkgs/io_file/test/errors.dart
  pkgs/io_file/test/remove_directory_tree_test.dart
Labels: package:io_file

#244 Use the required version of package:win32
  pkgs/io_file/mobile_test/pubspec.yaml
  pkgs/io_file/pubspec.yaml
Labels: package:io_file

#240 add an example use of firestore
  pkgs/googleapis_firestore_v1/README.md
  pkgs/googleapis_firestore_v1/analysis_options.yaml
  pkgs/googleapis_firestore_v1/example/example.dart
  pkgs/googleapis_firestore_v1/pubspec.yaml
Labels: package:googleapis_firestore_v1

#246 add an initial test
  .github/workflows/googleapis_firestore_v1.yaml
  pkgs/googleapis_firestore_v1/pubspec.yaml
  pkgs/googleapis_firestore_v1/test/firestore_client_test.dart
Labels: type-infra, package:googleapis_firestore_v1

#248 Enable tests on Android
  .github/workflows/io_file.yml
  pkgs/io_file/README.md
Labels: type-infra, package:io_file

#249 rev to the latest package:protoc_plugin version; regenerate the proto files
  pkgs/googleapis_firestore_v1/lib/google/api/annotations.pb.dart
  pkgs/googleapis_firestore_v1/lib/google/api/annotations.pbenum.dart
  pkgs/googleapis_firestore_v1/lib/google/api/client.pb.dart
  pkgs/googleapis_firestore_v1/lib/google/api/client.pbenum.dart
  pkgs/googleapis_firestore_v1/lib/google/api/field_behavior.pb.dart
  pkgs/googleapis_firestore_v1/lib/google/api/field_behavior.pbenum.dart
  pkgs/googleapis_firestore_v1/lib/google/api/http.pb.dart
  pkgs/googleapis_firestore_v1/lib/google/api/http.pbenum.dart
  pkgs/googleapis_firestore_v1/lib/google/api/launch_stage.pb.dart
  pkgs/googleapis_firestore_v1/lib/google/api/launch_stage.pbenum.dart
  pkgs/googleapis_firestore_v1/lib/google/api/routing.pb.dart
  pkgs/googleapis_firestore_v1/lib/google/api/routing.pbenum.dart
  pkgs/googleapis_firestore_v1/lib/google/firestore/v1/aggregation_result.pb.dart
  pkgs/googleapis_firestore_v1/lib/google/firestore/v1/aggregation_result.pbenum.dart
  pkgs/googleapis_firestore_v1/lib/google/firestore/v1/bloom_filter.pb.dart
  pkgs/googleapis_firestore_v1/lib/google/firestore/v1/bloom_filter.pbenum.dart
  pkgs/googleapis_firestore_v1/lib/google/firestore/v1/common.pb.dart
  pkgs/googleapis_firestore_v1/lib/google/firestore/v1/common.pbenum.dart
  pkgs/googleapis_firestore_v1/lib/google/firestore/v1/document.pb.dart
  pkgs/googleapis_firestore_v1/lib/google/firestore/v1/document.pbenum.dart
  pkgs/googleapis_firestore_v1/lib/google/firestore/v1/firestore.pb.dart
  pkgs/googleapis_firestore_v1/lib/google/firestore/v1/firestore.pbenum.dart
  pkgs/googleapis_firestore_v1/lib/google/firestore/v1/firestore.pbgrpc.dart
  pkgs/googleapis_firestore_v1/lib/google/firestore/v1/query.pb.dart
  pkgs/googleapis_firestore_v1/lib/google/firestore/v1/query.pbenum.dart
  pkgs/googleapis_firestore_v1/lib/google/firestore/v1/query_profile.pb.dart
  pkgs/googleapis_firestore_v1/lib/google/firestore/v1/query_profile.pbenum.dart
  pkgs/googleapis_firestore_v1/lib/google/firestore/v1/write.pb.dart
  pkgs/googleapis_firestore_v1/lib/google/firestore/v1/write.pbenum.dart
  pkgs/googleapis_firestore_v1/lib/google/protobuf/any.pb.dart
  pkgs/googleapis_firestore_v1/lib/google/protobuf/any.pbenum.dart
  pkgs/googleapis_firestore_v1/lib/google/protobuf/duration.pb.dart
  pkgs/googleapis_firestore_v1/lib/google/protobuf/duration.pbenum.dart
  pkgs/googleapis_firestore_v1/lib/google/protobuf/empty.pb.dart
  pkgs/googleapis_firestore_v1/lib/google/protobuf/empty.pbenum.dart
  pkgs/googleapis_firestore_v1/lib/google/protobuf/struct.pb.dart
  pkgs/googleapis_firestore_v1/lib/google/protobuf/struct.pbenum.dart
  pkgs/googleapis_firestore_v1/lib/google/protobuf/timestamp.pb.dart
  pkgs/googleapis_firestore_v1/lib/google/protobuf/timestamp.pbenum.dart
  pkgs/googleapis_firestore_v1/lib/google/protobuf/wrappers.pb.dart
  pkgs/googleapis_firestore_v1/lib/google/protobuf/wrappers.pbenum.dart
  pkgs/googleapis_firestore_v1/lib/google/rpc/status.pb.dart
  pkgs/googleapis_firestore_v1/lib/google/rpc/status.pbenum.dart
  pkgs/googleapis_firestore_v1/lib/google/type/latlng.pb.dart
  pkgs/googleapis_firestore_v1/lib/google/type/latlng.pbenum.dart
  pkgs/googleapis_firestore_v1/pubspec.yaml
Labels: package:googleapis_firestore_v1

#236 Support long paths and getting/setting the current working directory
  pkgs/io_file/constants.json
  pkgs/io_file/dart_test.yaml
  pkgs/io_file/lib/src/constant_bindings.g.dart
  pkgs/io_file/lib/src/constants.g.dart
  pkgs/io_file/lib/src/file_system.dart
  pkgs/io_file/lib/src/libc_bindings.g.dart
  pkgs/io_file/lib/src/vm_posix_file_system.dart
  pkgs/io_file/lib/src/vm_windows_file_system.dart
  pkgs/io_file/lib/src/web_posix_file_system.dart
  pkgs/io_file/lib/src/web_windows_file_system.dart
  pkgs/io_file/mobile_test/pubspec.yaml
  pkgs/io_file/pubspec.yaml
  pkgs/io_file/src/constants.g.c
  pkgs/io_file/src/constants.g.h
  pkgs/io_file/src/libc_shim.c
  pkgs/io_file/src/libc_shim.h
  pkgs/io_file/test/create_directory_test.dart
  pkgs/io_file/test/create_temporary_directory_test.dart
  pkgs/io_file/test/current_directory_test.dart
  pkgs/io_file/test/errors.dart
  pkgs/io_file/test/metadata_apple_test.dart
  pkgs/io_file/test/metadata_test.dart
  pkgs/io_file/test/metadata_windows_test.dart
  pkgs/io_file/test/read_as_bytes_test.dart
  pkgs/io_file/test/remove_directory_test.dart
  pkgs/io_file/test/remove_directory_tree_test.dart
  pkgs/io_file/test/rename_test.dart
  pkgs/io_file/test/same_test.dart
  pkgs/io_file/test/write_as_bytes_test.dart
  pkgs/io_file/test/write_as_string_test.dart
Labels: package:io_file
