Repository dart-lang/labs, pull requests merged in 2025-04, with the labels that each got.

#206 Implement `writeAsBytes` for POSIX
  pkgs/io_file/lib/src/file_system.dart
  pkgs/io_file/lib/src/vm_posix_file_system.dart
  pkgs/io_file/test/write_as_bytes_test.dart
Labels: package:io_file

#207 Run the test suite on Linux with `--profiler`
  .github/workflows/io_file.yml
Labels: type-infra

#210 Implement `writeAsBytes` for Windows
  .github/workflows/io_file.yml
  pkgs/io_file/benchmarks/write_as_bytes.dart
  pkgs/io_file/lib/src/file_system.dart
  pkgs/io_file/lib/src/internal_constants.dart
  pkgs/io_file/lib/src/vm_posix_file_system.dart
  pkgs/io_file/lib/src/vm_windows_file_system.dart
  pkgs/io_file/test/write_as_bytes_test.dart
Labels: type-infra, package:io_file

#212 Add "fakes" to completion table
  pkgs/io_file/README.md
Labels: package:io_file

#215 Add the ability to create directories
  pkgs/io_file/README.md
  pkgs/io_file/lib/src/file_system.dart
  pkgs/io_file/lib/src/vm_posix_file_system.dart
  pkgs/io_file/lib/src/vm_windows_file_system.dart
  pkgs/io_file/test/create_directory_test.dart
Labels: package:io_file

#217 Move GetLastError priming to a separate function
  pkgs/io_file/lib/src/vm_windows_file_system.dart
Labels: package:io_file

#214 Handle partial write in `FifoPosix`
  pkgs/io_file/test/fifo_posix.dart
Labels: package:io_file

#218 Add support for removing directories
  pkgs/io_file/README.md
  pkgs/io_file/lib/src/file_system.dart
  pkgs/io_file/lib/src/vm_posix_file_system.dart
  pkgs/io_file/lib/src/vm_windows_file_system.dart
  pkgs/io_file/test/remove_directory_test.dart
Labels: package:io_file

#219 Remove e2e code no longer in user
  pkgs/appengine/test/integration/common_e2e.dart
Labels: package:appengine

#220 Support creating temporary directories on POSIX
  pkgs/io_file/lib/src/file_system.dart
  pkgs/io_file/lib/src/vm_posix_file_system.dart
  pkgs/io_file/pubspec.yaml
  pkgs/io_file/test/create_temporary_directory_test.dart
  pkgs/io_file/test/temporary_directory_test.dart
Labels: package:io_file

#213 Implement `same` on win32.
  pkgs/io_file/README.md
  pkgs/io_file/lib/src/vm_windows_file_system.dart
  pkgs/io_file/test/same_test.dart
Labels: package:io_file
